<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='top'>
    <div class='search-bar-contents'>
      <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    </div>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
  <div class='nav'>
    <ul class='lists-floor'>
      <%# <li><%= link_to 'カテゴリー', "#", class: "category-list" </li> %>
      <%# ---------------------------------- %>

      <%= search_form_for @p, url: search_items_path do |f| %>
        <div class = 'nav-up'>
          <%= f.text_field :title_cont, placeholder: "キーワードから探す", class: "input-box" %>
          <button class="search-button">
            <%= image_tag("search.png", class:"search-icon")  %>
          </button>
        </div>
        <div class='nav-down'>
          <div class='label-select'>
            <%= f.label :genre_id_eq, 'カテゴリー', class: 'label' %>
            <%= f.collection_select :genre_id_eq, Genre.where.not(id: 0), :id, :name,  include_blank: '指定なし', class: 'search-select' %>
          </div>
          <div class='label-select'>
            <%= f.label :status_id_eq, '商品の状態', class: 'label' %>
            <%= f.collection_select :status_id_eq, Status.where.not(id: 0), :id, :name,  include_blank: '指定なし', class: 'search-select' %>
          </div>
          <div class='label-select'>
            <%= f.label :bear_id_eq, '送料負担', class: 'label' %>
            <%= f.collection_select :bear_id_eq, Bear.where.not(id: 0), :id, :name,  include_blank: '指定なし', class: 'search-select' %>
          </div>
          <div class='label-select'>
            <%= f.label :day_id_eq, '発送までの日数', class: 'label' %>
            <%= f.collection_select :day_id_eq, Day.where.not(id: 0), :id, :name,  include_blank: '指定なし', class: 'search-select' %>
          </div>
          <div class='label-select'>
            <%= f.label :price, '価格', class: 'label' %>
            <%= f.radio_button :price_lteq, '' %>
            指定なし
            <%= f.radio_button :price_lteq, '1000' %>
            1000円以下
            <%= f.radio_button :price_lteq, '2500' %>
            2500円以下
            <%= f.radio_button :price_lteq, '5000' %>
            5000円以下
            <br>
          </div>
        </div>
      <% end %>

      <%# ----------------------------------- %>
      <%# <li><%= link_to 'ブランド', "#", class: "brand-list" </li> %>
    </ul>
    
  </div>
</header>



    <%# <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
      <%# <%= form.text_field :keyword, placeholder: "キーワードから探す", class: "input-box" %> 
      <%# <button class="search-button"> %>
        <%# <%= image_tag("search.png", class:"search-icon")  %> 
      <%# </button> %>
    <%# <% end %> 